*{
  /* background-color: wheat; */
  margin: 0px;
  
}
.navBody{
  

}
.navBody .topBar{
  background-color: #071231;
  color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  z-index: 6;

}
.appName{
  font-size: 25px;
  word-spacing: 10px;
  letter-spacing: 3px;
  margin-left: 10px;
}
.navBody .topBar .topIcons{
  display: flex;
  
}
.icon{
  margin-right: 20px;
  margin-top: 7px;
  margin-bottom: 7px;
}
.bottomBar{
  display: none;
}

/* Mobile view  */
@media (max-width: 450px) {
  .navBody .topBar{
    background-color: #071231;
    color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 6;
    padding: 10px;
  
  }
  .navBody .topBar .topIcons{
    display: none;
    
  }
  .appName{
    font-size: 20px;
    word-spacing: 10px;
    margin: auto;
    text-align: center;
  }
  .bottomBar{
    display: flex;
    height: 47px;
    position: fixed;
    bottom: 0px;
    background-color: #071231;
    width: 100%;
  }
  .bottomBar .icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .bottomBar .icons .icon{
    margin: 10px;
  }
}