.create-post-container {
  height: 70px;
  background-color: #092349;
  width: 507px;
  color: white;
  justify-content: center;
  margin: auto;
  border-radius: 10px;
}
.create-post-container .create-post-form-container {
    background-color: #092349;
    width: 444px;
    height: 69px;
    margin: auto;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}
.create-post-form-container .ip {
    width: 389px;
    margin: auto;
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    padding: 2px;
    padding-left: 5px;

}
.create-post-form-container .file {
    margin: auto;
}

.create-post-form-container .file button{
    border: none;
    border-radius: 3px;
    width: 76px;
}

@media (max-width:410px){
    .create-post-container {
        height: 78px;
    background-color: #092349;
    width: 96vw;
    color: white;
    justify-content: center;
    margin: auto;
    border-radius: 10px;
      }
      .create-post-container .create-post-form-container {
        background-color: #092349;
        width: 336px;
        height: 74px;
        margin: auto;
        margin-top: 8px;
        display: flex;
        flex-direction: column;
      }
      .create-post-form-container .ip {
        width: 313px;
        margin: auto;
        height: 30px;
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        padding: 2px;
        padding-left: 5px;
      
      }
      .create-post-form-container .file {
          margin: auto;
      }
      
      .create-post-form-container .file button{
          border: none;
          border-radius: 3px;
          width: 76px;
      }
}