.post-card {
  background-color: #092349;
  height: auto;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 414px;
  position: relative;
  left: -2px;
  padding: 26px;
  margin-top: 10px;
  color: white;
}
 
.post-card-author {
}
.post-card-author .name {
  font-size: 33px;
  font-weight: bold;
}
.post-card-author .email {
  font-size: 18px;
  margin-bottom: 10px;
}
.post-card-image {
  margin: auto;
}
.post-card-image .main-image {
  border-radius: 11px;
}
.post-card .content {
  font-size: 16px;
  font-family: system-ui;
}
.like-box{
display: flex;
}
.like-box .like{
flex: auto;
}
.like-box .like .main{
  margin-left: 24px;
}
.like-box .love{
  flex: auto;
}
.like-box .love .main{
  
}
.like-box .dislike{
  flex: auto;
}
.like-box .dislike .main{
  
}
.like-box .haha{
  flex: auto;
}
.like-box .haha .main{
  
}
.post-card-author .more .main{
  position: absolute;
  right: 20px;
}
.show-more-form{
  height: 48px;
  background-color: white;
  color: black;
  width: auto;
  padding: 14px;
  border-radius: 10px;
}
.show-more-form .delete{
  margin: auto;
  width: 384px;
  font-size: 21px;
  text-align: center;
}
.show-more-form .about{
  margin: auto;
  text-align: center;
  width: 384px;
  font-size: 21px;
}
.show-more-form .delete:hover{
  background-color:#092349 ;
  color: white;
}
.show-more-form .about:hover{
  background-color:#092349 ;
  color: white;
}
@media (max-width: 410px) {
  .post-card {
    background-color: #18254a;
    height: auto;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 81vw;
    position: relative;
    left: -2px;
    padding: 26px;
    margin-top: 10px;
    color: white;
  }

  .post-card-author {
      /* ug */
  }
  .post-card-author .name {
    font-size: 33px;
    font-weight: bold;
  }
  .post-card-author .email {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .post-card-image {
    margin: auto;
  }
  .post-card-image .main-image {
    border-radius: 11px;
  }
  .post-card .content {
    font-size: 16px;
    font-family: system-ui;
  }
  .show-more-form{
    height: 48px;
    background-color: white;
    color: black;
    width: auto;
    padding: 14px;
    border-radius: 10px;
  }
  .show-more-form .delete{
    margin: auto;
    width: 253px;
    font-size: 21px;
    text-align: center;
  }
  .show-more-form .about{
    margin: auto;
    text-align: center;
    width: 253px;
    font-size: 21px;
  }
  .show-more-form .delete:hover{
    background-color:#092349 ;
    color: white;
  }
  .show-more-form .about:hover{
    background-color:#092349 ;
    color: white;
  }
}

